<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".firebase.AnalyticsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".retrofit.config.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".event.EventTwoActivity" />
        <activity android:name=".event.EventActivity"></activity>
        <activity android:name=".progressvertical.ProgressActivity" />
        <activity android:name=".ping.Ping1Activity" />
        <activity android:name=".ping.Ping2Activity" />

        <service
            android:name=".ping.PingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ping.PingActivity" />
        <activity android:name=".retrofit.UploadProgressActivity" />
        <activity
            android:name=".exo.ExoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>